
.header{
    position: sticky;
    top: 0;
    background: rgb(1,4,12);
    background: linear-gradient(90deg, rgba(1,4,12,1) 14%, rgba(248,249,252,1) 100%);
    height: 60px;
}

 h1{
    font-size: 50px;
    color: white;
}

#imagebody{
    padding-left: 1px;
    margin: 25px;
    width: 97%;
}
.product{
    width: 100%;
    padding: 2px;
    margin: 24px;
}
.products{
    display: flex;
}
.Discount{
    background: rgb(0,40,33);
    background: linear-gradient(180deg, rgba(0,40,33,1) 70%, rgba(0,11,11,1) 100%);
    /* background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1167,c_limit/ce391e4c-5ccc-48a9-892b-a4d8774dd380/nike-just-do-it.jpg"); */
    border-radius: 159px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 27px;
    word-spacing: 4px;
  
}
.sale{
    color: white;
}
.sale h4{
    margin: -11px;
   font-weight: 900;
    font-size: 72px;
    letter-spacing: -11px;
    font-family: "Nike Futura","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#Javidcombin .sale  h4{
    letter-spacing: -6px;
} 
#shopb{
    padding: 6px 47px;
    line-height: 90px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
}
.Javid{
    background: rgb(1,5,17);
    background: linear-gradient(5deg, rgba(1,5,17,1) 14%, rgba(18,73,221,1) 100%, rgba(248,249,252,1) 100%);
border-radius: 100px;    
color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 27px;
    word-spacing: 4px;
}
.products button{
background-color: white;
width: 72px;
height: 28px;
margin-left: 207px;
}